@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body{font-family: 'Oswald', sans-serif;
background-color: #0f0e17;
color: #fffffe;
}

p{font-family: 'Source Serif Pro', serif;
color: #a7a9be;
}

a:link {
    color: #ff8906;
  }

  a:link{
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: #ff8906;
  }

  a:hover {
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(30, 105, 58);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

#name {
  color: #ffffff;
  text-align: center;
}


#navbar {
  background-color: #262b31;
}

#navbar >a{
  color: aliceblue;
  padding: 8px;
  display: inline-block;
}

#navbar >a:hover{
  background-color: #4f4f4f;
  color: rgb(183, 119, 36);
}

#navbar >a:active {
  color: blue;
}

#portrait {
  float: left;
  margin-right: 8px;
  border-radius: 10%;
}



@media screen and (max-width:480px ) {
  #portrait {
    width: 100vw;
    height: auto;
  }
  #welcome {
    width: 100vw;
    height: auto;
  }
  #navbar {
    text-align: center;
  }
  max-width: 36rem;

}

#portrait{
  
    border: 2px solid ;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
  
}

input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #cc8f16;
  background-color:#3c3b3b;
  border-radius: 8px;
  


}

#Response {
padding: 100px;
width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #cc8f16;
  background-color:#3c3b3b;
  border-radius: 8px;
  color: #fffffe;
  font-family:'Zilla Slab', monospace;
  font-size:x-large;
}

input[type=text]:hover {
border: 3px solid rgb(222, 157, 18);
}

input[type="Submit"] {

font-family:'Zilla Slab', monospace;
color: #020826;
border-radius: 8px;
background-color:#eaddcf;
border-color: #d48626;

}

input[type="Reset"] {
font-family:'Zilla Slab', monospace;
color: #020826;
border-radius: 8px;
background-color:#eaddcf;
border-color: #da8e1d;
}


  


 
  
