@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body{font-family: 'Oswald', sans-serif;
background-color: #0f0e17;
color: #fffffe;
}

p{font-family: 'Source Serif Pro', serif;
color: #a7a9be;
}

a:link {
    color: #ff8906;
  }

  a:link{
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: #ff8906;
  }

  a:hover {
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(30, 105, 58);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

#name {
  color: #ffffff;
  text-align: center;
}


#navbar {
  background-color: #656667;
}

#navbar >a{
  color: aliceblue;
  padding: 8px;
  display: inline-block;
}

#navbar >a:hover{
  background-color: #4f4f4f;
}